* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calculater {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 95vw;
  margin: 5px auto;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.mainContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black; */
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}
input[type="text"] {
  width: 100%;
  height: 60px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Responsive */

/* @media screen and (min-width: 768px) {
  body {
    .calculater {
      height: 75vh;
      width: 75vw;
      margin: 75px auto;
    }
  }
  button {
    padding: 25px;
    font-size: 2.7em;
    border: none;
    margin: 0.1em;
  }
  h1 {
    font-size: 4em;
    margin-top: 0.5em;
  }
  input[type="text"] {
    width: 100%;
    height: 80px;
  }
} */

@media screen and (min-width: 1024px) {
  body {
    .calculater {
      height: 90vh;
      width: 45vw;
      margin: 15px auto;
    }
  }
  button {
    padding: 10px;
    font-size: 2.7em;
  }
  h1 {
    font-size: 4em;
    margin-top: 0.4em;
    margin-bottom: 0.25em;
  }
  input[type="text"] {
    width: 100%;
    height: 80px;
  }
}
